.ams-app-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
}

.ams-app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow-y: auto;
}

.ams-app-body {
  flex: 1;
}
